@import 'modules/media';



// Container
.container {
  padding: 0 15px;

  @include media-tablet-and-up {
    padding: 0 calc(50vw - 300px);
  }

  @include media-desktop-and-up {
    padding: 0 calc(50vw - 490px);
  }
}
