/* Roboto-100 - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-Thin'),
  url('/assets/fonts/roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-100italic - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-ThinItalic'),
  url('/assets/fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-300 - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-Light'),
  url('/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-300italic - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-LightItalic'),
  url('/assets/fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-regular - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-Regular'),
  url('/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-italic - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-Italic'),
  url('/assets/fonts/roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-500 - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-Medium'),
  url('/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-500italic - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-MediumItalic'),
  url('/assets/fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-700 - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-Bold'),
  url('/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-700italic - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-BoldItalic'),
  url('/assets/fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-900 - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-Black'),
  url('/assets/fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Roboto-900italic - latin */

@font-face {
  font-family: Roboto, sans-serif;
  src: local('Roboto-BlackItalic'),
  url('/assets/fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}
