/* Rubik-300 - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-Light'),
  url('/assets/fonts/rubik/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-300italic - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-LightItalic'),
  url('/assets/fonts/rubik/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-regular - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-Regular'),
  url('/assets/fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-italic - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-Italic'),
  url('/assets/fonts/rubik/Rubik-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-500 - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-Medium'),
  url('/assets/fonts/rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-500italic - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-MediumItalic'),
  url('/assets/fonts/rubik/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-600 - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-SemiBold'),
  url('/assets/fonts/rubik/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-600italic - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-SemiBoldItalic'),
  url('/assets/fonts/rubik/Rubik-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-700 - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-Bold'),
  url('/assets/fonts/rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-700italic - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-BoldItalic'),
  url('/assets/fonts/rubik/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-800 - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-ExtraBold'),
  url('/assets/fonts/rubik/Rubik-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-800italic - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-ExtraBoldItalic'),
  url('/assets/fonts/rubik/Rubik-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-900 - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-Black'),
  url('/assets/fonts/rubik/Rubik-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

/* Rubik-900italic - latin */

@font-face {
  font-family: Rubik, sans-serif;
  src: local('Rubik-BlackItalic'),
  url('/assets/fonts/rubik/Rubik-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  font-variant: normal;
}
