.header {
  height: 64px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-family: Rubik, sans-serif;
    font-weight: 700;
    color: #333333;
  }

  &__buttons {
  }

  &__button {
    font-size: 18px;
    background: #dddddd60;
    padding: 8px 16px;
    border-radius: 50px;
    color: #333333;
    text-decoration: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:hover {
      background: #ddddee90;
    }
  }
}
