.page {
  display: flex;
  flex-flow: column nowrap;

  &__header {
    height: 400px;
    background: #33333390;
    color: #ffffff;
    display: grid;
    place-content: center;
    place-items: center;

    &__title {
      color: #ffffff;
      font-size: 56px;
      font-weight: bold;
      line-height: 56px;
      margin: 15px 5px;
    }

    &__subtitle {
      font-size: 20px;
      font-weight: 300;
      line-height: 28px;
      margin: 15px 0 25px;
    }

    &__button {
      box-sizing: border-box;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      outline: none;
      border: none;
      -webkit-tap-highlight-color: transparent;
      display: inline-block;
      white-space: nowrap;
      text-decoration: none;
      vertical-align: baseline;
      text-align: center;
      margin: 0;
      min-width: 64px;
      line-height: 36px;
      padding: 0 16px;
      border-radius: 4px;
      overflow: visible;
      transform: translate3d(0, 0, 0);
      transition: all 400ms;
      color: #fff;
      background-color: #424280;
      font-size: 15px;
      box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
                  0 2px 2px 0 rgb(0 0 0 / 14%),
                  0 1px 5px 0 rgb(0 0 0 / 12%);
    }
  }
}
